@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* BODY */
body{
    height: 100vh;
    background-image: url("img/bg.png");
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 17vh;
}

header h2{
    font-weight: 300;
}


/* MAIN SECTION */
.main-section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.main-section .container{
    background-color: gray;
    background-image: url("img/bg.png");
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
}

.main-section video{
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
}

.main-section .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FIRST PART */
.question{
    flex-direction: column;
}

.question input{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 500px;
    height: 35px;
    margin-top: 10px;
}


/* SECOND PART */
.options{
    margin: 20px 0;
}

.options .option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options .option:first-child{
    margin-right: 49px;
}

.options .option:last-child{
    margin-left: 49px;
}

.options .option input[type="text"]{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 200px;
    height: 35px;
    margin: 15px 0;
}

.options .option input[type="file"]{
    display: none;
}

.options .option .upload{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options .option .upload label{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.options .option .upload i{
    cursor: help;
    margin-left: 5px;
}

.options .option label:hover{
    transform: scale(0.97);
    background-color: #f7f7f7;
}

.options .option h3{
    font-weight: 300;
    font-size: small;
    visibility: hidden;
    width: 150px;
    word-wrap: break-word;
}


/* BUTTON */
.btn input{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background: none;
}

.btn input:hover{
    transform: scale(0.97);
    background-color: #f7f7f7;
}


/* QUESTION SECTION */
.question-section{
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.hidden{
    display: none;
}

.question-section h2{
    position: absolute;
    font-size: xx-large;
    display: inline-block;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.question-section .optionBtn{
    position: absolute;
    top: 60%;
    font-size: x-large;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.question-section #YesBtn{
    left: 30%;
}

.question-section #NoBtn{
    right: 30%;
}


/* IMAGE SECTION */
section{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    border: 2px solid black;
    border-radius: 20px;
}


/* FOOTER */
footer{
    background-color: black;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-left: 6px;
    text-decoration: none;
    color: #800040;
}

footer a:hover{
    font-size: large;
}


/* RESPONSIVE */
@media screen and (max-width: 1200px){
    .container{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-section{
        flex-direction: column;
    }
}